$light-colors: (
  noapp: #999999,
  companies: #2085aa,
  campaigns: #3ca09d,
  followup: #9b80ba,
  settings: #2186AB,
  acquisition: #cd4e9d,
  statistics: #5c8eca,
  numbers: #2085aa,
  calendar: #598eca,
  qualitycheck: #2085aa,
  releasenotes: #9b80ba,
  outcome: #94BA5D,
  );
$dark-colors: (
  noapp: #666666,
  companies: #115d78,
  campaigns: #2c8484,
  followup: #8e6bac,
  settings: #115d78,
  acquisition: #b04387,
  statistics: #3a597e,
  numbers: #115d78,
  calendar: #3a597e,
  qualitycheck: #115d78,
  releasenotes: #8e6bac,
  outcome: #8AA657,
);

$success-light: #3dbd90;
$success-mid: #42b58d;
$success-dark: #2b8666;
$neutral-light: #bc8d3f;
$neutral-dark: #ac7513;
$danger-light: #cc474f;
$danger-dark: #a83b42;
$warning-red-light: #cc4850;
$warning-green-light: #42B58D;

$legacy-danger: #ff0000;

$light-grey: #f6f6f7;
$med-grey: #ededf0;
$dark-grey: #cccccc;
$contrast-grey: #999;
$white: #fff;
$black: #000;

$green-light: #94BA5D;
$cyan-blue: #2186ab;