$size1-font: 12px;
$size2-font: 14px;
$size3-font: 16px;

$size1-labelfont: 12px;
$size2-labelfont: 12px;
$size3-labelfont: 14px;

$size1-height: 26px;
$size2-height: 34px;
$size3-height: 44px;

$size1-padding: 6px 6px;
$size2-padding: 8px 8px;
$size3-padding: 12px 14px;
